<div class="container">
    <div class="inicio">
        <h1>¡Servicios para el hogar!</h1>
        <div class="posicionador">
            <div class="iniciar-sesion">
                <h2>Iniciar sesión</h2>
                <button [routerLink]="['/login']">Cliente</button>

                <button [routerLink]="['/login-worker']">Trabajador</button>
            </div>

            <div class="registro">
                <h2>Registrarse</h2>
                <button [routerLink]="['/sign-in']">Quiero ser Cliente</button>
                <button [routerLink]="['/sign-in-worker']">Quiero ser trabajador</button>
            </div>
        </div>
    </div>

</div>