<div class="container">

    <div class="login">
        <span *ngIf="error=='true'" [ngStyle]="{'color':'red'}">Verifique los datos</span>
        <h1>{{title}}</h1>
        <div class="form-login">
            <form #formEntrar='ngForm' (ngSubmit)="comprobar(workerLogin.value,workerPasswordLogin.value)">
                <p>
                    <input type="text" #workerLogin name="workerLogin" placeholder="Usuario" required>
                </p>
                <p>
                    <input type="password" #workerPasswordLogin name="workerPasswordLogin" placeholder="Contraseña" required>
                </p>


                <input type="submit" value="Entrar">

            </form>
            <p class="redirigir-registrarse">
                <a [routerLink]="['/sign-in']">Quiero ser cliente</a>
                <a [routerLink]="['/sign-in-worker']">Quiero trabajar </a>
            </p>
        </div>
    </div>
</div>
<button class="home-button" [routerLink]="['/']"><img src="../../../assets/img/icono1.png" title="Ir al inicio" alt="img ir al inicio"></button>